.outer-layout {
    min-height: 100% !important;
}

.card-container {
	max-width: 95% !important;
	margin : 20px auto;
    min-height: 100% !important;
}

.saved-card-desc {
	margin : 0 10px !important;
}

.saved-card-cvv {
	margin : 0 10px !important;
	max-width: 70px !important;
}

.expiry-date-label {
	margin-top: 10px !important;
	margin-right: 10px !important;
	cursor: default !important; 
}

.month-year-class {
	width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    margin-top: -20px;
}

.cvv-class {
	width: 50%;
    display: inline-block;
    padding-left: 10px;
    margin-top: 20px;
}

.card-container-label {
	color: #0585DD;
	margin-top: 20px;
    margin-bottom: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}

.expiry-dropdown {
	max-width: 70px !important;
    margin-right: 5px !important;
    display: inline-block;
}

.card-icon {
    display: inline-block !important;
    margin-top: -60px !important;
    margin-right: 5px !important;
    float: right !important;
}

.placeholder {
    color: #737373 !important;
}

::-webkit-input-placeholder {
    color:    #737373;
}
:-moz-placeholder {
    color:    #737373;
}
::-moz-placeholder {
    color:    #737373;
}
:-ms-input-placeholder {
    color:    #737373;
}