body {
	background: #F9F9F9;
}

.layout {
	height: 100% !important;
	position: relative;
	max-width: 600px;
	margin: 0 auto;
	overflow-x: auto;
	overflow-y: auto; 
	font-family: 'Avenir LT W01_35 Light1475496';
	color: #222;
	background: #ffffff !important;
}

.app {
	height: 83%;
	overflow-y: auto;
	overflow-x: auto;
	position: relative;
	background: #fff;
	width: 100%;
}

.primary-color {
	background: #333F4C !important;
}

.header-footer-main {
	margin : 0 auto !important;
	color: #ffffff !important;
}

.header-element {
	margin-top: 1% !important;
	cursor: pointer !important;
	color: #ffffff !important;
}

.footer-element {
	background: #28313c !important;
	cursor: pointer !important;
}

.message-juspay {
	background: #FCFFBF !important;
	margin-top: 0px !important;
}

.juspay-dimmer-loader {
    min-height: 100% !important;
    position: initial !important;
    width: 100% !important;
}

.input-label {
    font-size: 14px !important;
    margin-bottom: 5px !important;
    color:#737373  !important; 
    font-weight:normal !important;
    position:relative !important;
    pointer-events:none !important;
    left:5px !important;
    top:-40px !important;
    transition:0.2s ease all !important; 
}

.input-block {
    position: relative !important;
}

.input-block-cvv {
    position: relative !important;
    max-width: 70px !important;
    display: inline-block !important;
}

.input-area:focus ~ .input-label, .input-area:valid ~ .input-label {
  top:-55px !important;
  font-size:12px !important;
  color:#5264AE !important;
}

.input-area {
    border: none !important;
    display: block !important;
    width: 100% !important;
    outline: none !important;
    height: 40px !important;
    padding: 5px !important;
    border-bottom: 1px solid #C3C3C3 !important;
    letter-spacing: 1px  !important;
    margin-bottom: 5px !important;
    font-size: 14px !important;
}

.input-area:active {
    border-color: #0585DD !important;
}

.input-area:focus {
    border-color: #0585DD !important;
}

.input-area:hover {
    border-color: #0585DD !important;
}

.param-rule {
    color : red !important;
    font-size: 12px !important;
    margin : 10px 0px !important;
}

.example-enter {
  margin-left: 70%;
}

.example-enter-active {
  margin-left: 0%;
  -webkit-transition: margin-left 0.3s ease-out;
}

.example-leave {
  opacity: 0.3;
  margin-left: 0%;
}

.example-leave-active {
  opacity: 0;
  margin-left: -30%;
  -webkit-transition: margin-left 0.2s ease-out;
}