.list-item {
    padding: 20px !important;
    -webkit-transition: background-color .25s ease .1s, color .25s ease .1s, padding-left .25s ease .1s !important;
    -moz-transition: background-color .25s ease .1s, color .25s ease .1s, padding-left .25s ease .1s !important;
    -o-transition: background-color .25s ease .1s, color .25s ease .1s, padding-left .25s ease .1s !important;
    transition: background-color .25s ease .1s, color .25s ease .1s, padding-left .25s ease .1s !important;
    color: black !important;
    font-weight: lighter !important;
}

.list-item:hover {
    padding-left: 30px !important;
    background-color: #F9F9F9 !important;
    color : #1f7ec7 !important; 
}