.payment-end-container {
	max-width: 90% !important;
	margin : 10% auto !important;
}

.payment-details-container {
	width: 95% !important;
	margin : 0 auto !important;
}

.payment-status-container {
	max-width: 50% !important;
	margin : 10px auto !important;
	font-size: 20px !important;
}

.payment-desc {
	font-size: 13px !important;
	margin : 20px auto !important;
	color : black !important;
}

.contact-juspay {
	font-size: 12px !important;
	margin : 5px auto !important;
	color : grey;
	max-width: 50% !important;
}

.payment-end-button {
	margin : 10px auto !important;
	max-width: 35% !important;
}

.success {
	color : #62bf5d;
}

.failed {
	color : #d23232;
}

.payment-receipt-container {
	width: 100% !important;
	display: inline-block !important;
	margin : 0 auto !important;
	border-top : 2px dashed #eee!important;
}

.payment-receipt-header {
	margin : 5px auto !important;
	max-width: 50% !important;
	font-size: 18px !important;
	color : grey !important;
}

.payment-receipt-left {
	font-size: 14px !important;
	display: inline-block !important;
	float: left !important;
}

.payment-receipt-right {
	font-size: 14px !important;
	display: inline-block !important;
	float: right !important;
}