.payv3-exp {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
}

.payv3-cvv {
    width: 50%;
    display: inline-block;
    padding-left: 10px;
}

.payv3-saved-cvv {
    width: 70px;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle !important; 
}

.payv3-card-number {
    height: 60px !important;
    display: flow-root !important;
}

.payv3-card-container {
    max-width: 95% !important;
    margin : 20px auto !important;
    min-height: 100% !important;
}

.payv3-card-icon {
    display: inline-block !important;
    margin-top: -60px !important;
    margin-right: 5px !important;
    float: right !important;
}

.card-number-div {
    height: 40px !important;
    max-width: 100% !important;
}

.card-exp-month-div {
    height: 40px !important;
    max-width: 45% !important;
    display: inline-block !important;
}

.card-exp-year-div {
    height: 40px !important;
    max-width: 45% !important;
    display: inline-block !important;
}

.security-code-div {
    height: 40px !important;
    max-width: 100% !important;
    display: inline-block !important;
}

.exp-cvv-container {
    max-width: 100% !important;
    display: inline-block !important;
    height: 60px !important;
}

.card-container-label {
    color: #0585DD;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}

.payv3-saved-card-container {
    margin : 0 10px !important;
    max-height: 60px !important;
}

.payv3-saved-card-cvv {
    margin : 0 10px !important;
    max-width: 70px !important;
    display: inline-block !important; 
}

.payv3-saved-card-desc {
    margin: 0 10px !important;
}